<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TcpSocketDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21F703C81D9D2F8300FDFE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F703E11D9D2F8300FDFE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21F703EC1D9D2F8300FDFE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
